useDynLib(PenCoxFrail)

importFrom(Rcpp, evalCpp)
importFrom(Matrix, bdiag)   
importFrom(Matrix, crossprod)  
importFrom(utils, tail) 
importFrom(coxme, coxme) 
importFrom(coxme, VarCorr) 
importFrom(coxme, ranef) 
importFrom("utils", "flush.console")
importFrom(methods, new)  
importFrom(methods, as)
import(survival)   
import(stats)
import(graphics)

S3method(print, pencoxfrail)
S3method(summary, pencoxfrail)
S3method(print, summary.pencoxfrail)
S3method(predict, pencoxfrail)
S3method(plot, pencoxfrail)

S3method(print, coxlasso)
S3method(summary, coxlasso)
S3method(print, summary.coxlasso)
S3method(predict, coxlasso)
S3method(plot, coxlasso)

S3method(plot, cv.coxlasso)

S3method(print, coxFL)
S3method(summary, coxFL)
S3method(print, summary.coxFL)
S3method(predict, coxFL)
S3method(plot, coxFL)

S3method(print, coxridge)
S3method(summary, coxridge)
S3method(print, summary.coxridge)
S3method(predict, coxridge)
S3method(plot, coxridge)



export(pencoxfrail, pencoxfrailControl, coxlasso, cv.coxlasso, coxlassoControl, coxFL, coxridge, coxFLControl, bs.design, int.approx)
